<%# Write your code here! %>
<!DOCTYPE html>
<html>
  <head>
    <title>
      Welcome!
    </title>
  </head>

  <body>
    <form method="POST" action="/greet">
      <input type="text" name="user_name" id="user_name" /></br>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
